# ignore data files
data
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#data files in numpy format
.npy

#redundent gesture draw code
01-single-digit-preprocessing_20_classes.ipynb
02_single_digit_model_20_classes.ipynb

#ignore some code files
predict
logs
digit_model_tf2.h5
report.pdf
unpacker.py
# .* files
.vscode
.ipynb_checkpoints
