# ignore data files
zipdata.rar
zipdata1.rar
zipdata
zipdata1
zipdata3
zipdata4
data


# Byte-compiled / optimized / DLL files
__pycache__/


# C extensions
*.so
#data files in numpy format
.npy
#redundent gesture draw code
data.py
data-copy.py
digit.py
draw.py
sample.py
predict.pyc

#ignore folders
tensorflow_makefile
relevent papers
digit_sherman.zip
digit_sherman.py



# .* files
.vscode
.ipynb_checkpoints
